{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="nav">
    <h1>Hello World!!!!!</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facilis dignissimos voluptatibus magnam, earum aspernatur sapiente doloremque, quibusdam vero dolores et cumque asperiores tempore. Ea facere delectus nihil labore accusantium.</h1>
    </div>
</body>
</html>